/* Font used */
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 2.5rem;
}
/* --------- Global style */

body {
    background-color: white;
    font-family: "Jersey 10", sans-serif;
   /* font-family: "Raleway", sans-serif;*/
    color: #445361;
    text-align: left;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 4rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* --------- Game layout */

.background_image{
    max-width: 65%;
    max-height: 50%;
}
.game-area {
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 600px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}
.display_area {
    width: 15%;
    font-weight: 400;
    /*margin: 30px auto;*/
    margin-left: 200px;
    color: whitesmoke;
   
}

.game_controls{
    margin-top: 30%;
}

#controls-area {
    width: 80%;
    /*margin: 30px auto;*/
    margin-left: 10px;
    
}
/*
#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}
*/
/* --------- Buttons */
.btn_hamburger{
    position:absolute; 
    top: 40%; 
    left: 55%; 
    width: 105px;
    height: 110px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
   color: white;
 /*  background-image: url("../images/bwhamburger.png");  */
    background-color: white;
    
}
/*
.btn_coloured_hamburger {
    top: 250px; 
    left: 600px; 
    width: 105px;
    height: 110px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    background-image: url("../images/hamburger.png");  
    background-color: white;
    display: none;
}*/
.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 5px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
  /*  margin: 0 30px;*/
    transition: all 0.5s;
}

.btn--big--control {
    padding-top: 5px;
    /*border-radius: 50%;*/
    background-color: white;
    border: 7px solid;
    width: 120px;
    height: 80px;
    font-size: 3.2rem;
  /*  margin: 0 30px;*/
    transition: all 0.5s;
}

.btn--grey {
    border-color: grey;
    color: grey;
}

.btn--grey:active,
.btn--grey:hover {
    background-color: darkblue;
    color: white;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: lightskyblue;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: lightskyblue;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;    
}

.btn--green:active,
.btn--green:hover {
    background-color: lightskyblue;
    color: white;
}

/* --------- Media queries */

@media (max-width: 425px) {
    
    h2{
        font-size: 2rem;
    }

    .background_image{
        max-width: 65%;
        max-height: 50%;
    }
    .game-area {
        background-image: url("../images/background.jpg");
        background-size: 100% 100%;
        background-color: #E6ECF0;
        box-sizing: border-box;
        width: 100%;
        height: 65vh;
        max-height: 600px;
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        
    }
    .display_area {
        width: 20%;
        font-weight: 400;
        /*margin: 30px auto;*/
        margin-left: 1px;
        color: whitesmoke;
       
    }
    
    .game_controls{
        margin-top: 50%;
    }
    
    #controls-area {
        width: 60%;
        /*margin: 30px auto;*/
        margin-left: 10px;
        margin-top: 50px;
        font-size: 1rem;
        
    }
    .btn--big {
        padding-top: 5px;
        border-radius: 50%;
        background-color: white;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1rem;
      /*  margin: 0 30px;*/
        transition: all 0.5s;
    }

    .btn--big--control {
        padding-top: 5px;
        /*border-radius: 50%;*/
        background-color: white;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1rem;
      /*  margin: 0 30px;*/
        transition: all 0.5s;
    }
    
    .btn--grey {
        border-color: grey;
        color: grey;
    }
    
    .btn--grey:active,
    .btn--grey:hover {
        background-color: darkblue;
        color: white;
    }
    
    .btn--blue {
        border-color: blue;
        color: blue;
    }
    
    .btn--blue:active,
    .btn--blue:hover {
        background-color: lightskyblue;
        color: white;
    }
    
    .btn--red {
        border-color: red;
        color: red;
    }
    
    .btn--red:active,
    .btn--red:hover {
        background-color: lightskyblue;
        color: white;
    }
    
    .btn--green {
        border-color: green;
        color: green;    
    }
    
    .btn--green:active,
    .btn--green:hover {
        background-color: lightskyblue;
        color: white;
    }

    .btn_hamburger{
        position:absolute; 
        top: 50%; 
        left: 60%; 
        width: 50px;
        height: 50px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
       color: white;
     /*  background-image: url("../images/bwhamburger.png");  */
        background-color: white;
        
    }    

}

@media (max-width: 375px){
    
    .heading {
        text-align: center;
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }

    .background_image{
        max-width: 65%;
        max-height: 50%;
    }
    .game-area {
        background-image: url("../images/background.jpg");
        background-size: 100% 100%;
        background-color: #E6ECF0;
        box-sizing: border-box;
        width: 100%;
        height: 65vh;
        max-height: 600px;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        
    }
    .display_area {
        width: 20%;
        font-weight: 400;
        /*margin: 30px auto;*/
        margin-left: 1px;
        color: whitesmoke;
       
    }
    
    .game_controls{
        margin-top: 140%;
    }
    
    #controls-area {
        width: 60%;
        /*margin: 30px auto;*/
        margin-left: 10px;
        margin-top: 50px;
        
    }
    .btn--big {
        padding-top: 5px;
        border-radius: 50%;
        background-color: white;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1rem;
      /*  margin: 0 30px;*/
        transition: all 0.5s;
    }

    .btn--big--control {
        padding-top: 5px;
        /*border-radius: 50%;*/
        background-color: white;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1rem;
      /*  margin: 0 30px;*/
        transition: all 0.5s;
    }
    
    .btn--grey {
        border-color: grey;
        color: grey;
    }
    
    .btn--grey:active,
    .btn--grey:hover {
        background-color: darkblue;
        color: white;
    }
    
    .btn--blue {
        border-color: blue;
        color: blue;
    }
    
    .btn--blue:active,
    .btn--blue:hover {
        background-color: lightskyblue;
        color: white;
    }
    
    .btn--red {
        border-color: red;
        color: red;
    }
    
    .btn--red:active,
    .btn--red:hover {
        background-color: lightskyblue;
        color: white;
    }
    
    .btn--green {
        border-color: green;
        color: green;    
    }
    
    .btn--green:active,
    .btn--green:hover {
        background-color: lightskyblue;
        color: white;
    }

    .btn_hamburger{
        position:absolute; 
        top: 42%; 
        left: 62%; 
        width: 50px;
        height: 50px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
       color: white;
     /*  background-image: url("../images/bwhamburger.png");  */
        background-color: white;
        
    }    

}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


@media (max-width: 320px){
    
    .heading {
        text-align: center;
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }

    .background_image{
        max-width: 65%;
        max-height: 50%;
    }
    .game-area {
        background-image: url("../images/background.jpg");
        background-size: 100% 100%;
        background-color: #E6ECF0;
        box-sizing: border-box;
        width: 100%;
        height: 65vh;
        max-height: 600px;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
        
    }
    .display_area {
        width: 20%;
        font-weight: 400;
        /*margin: 30px auto;*/
        margin-left: 1px;
        color: whitesmoke;
       
    }
    
    .game_controls{
        margin-top: 180%;
    }
    
    #controls-area {
        width: 60%;
        /*margin: 30px auto;*/
        margin-left: 10px;
        margin-top: 50px;
        
    }
    .btn--big {
        padding-top: 5px;
        border-radius: 50%;
        background-color: white;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1rem;
      /*  margin: 0 30px;*/
        transition: all 0.5s;
    }

    .btn--big--control {
        padding-top: 5px;
        /*border-radius: 50%;*/
        background-color: white;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1rem;
      /*  margin: 0 30px;*/
        transition: all 0.5s;
    }
    
    .btn--grey {
        border-color: grey;
        color: grey;
    }
    
    .btn--grey:active,
    .btn--grey:hover {
        background-color: darkblue;
        color: white;
    }
    
    .btn--blue {
        border-color: blue;
        color: blue;
    }
    
    .btn--blue:active,
    .btn--blue:hover {
        background-color: lightskyblue;
        color: white;
    }
    
    .btn--red {
        border-color: red;
        color: red;
    }
    
    .btn--red:active,
    .btn--red:hover {
        background-color: lightskyblue;
        color: white;
    }
    
    .btn--green {
        border-color: green;
        color: green;    
    }
    
    .btn--green:active,
    .btn--green:hover {
        background-color: lightskyblue;
        color: white;
    }

    .btn_hamburger{
        position:absolute; 
        top: 50%; 
        left: 60%; 
        width: 50px;
        height: 50px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
       color: white;
     /*  background-image: url("../images/bwhamburger.png");  */
        background-color: white;
        
    }    

}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: small;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
